h3 {
    font-size: 36px;
    padding-top: 15px;
}


h3, p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #ff2e63;
}

.intro {
    padding-top: 40px;
}

p {
    font-size: 22px;
}

.catch-phrase {
    font-weight: bold;
}

@media only screen and (max-width: 500px){
    .home-page-image {
        border-radius: 50%;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (min-width:600px) {
    .home-page-image {
        width: 50%;
        display: block;
        margin: 0 auto;
        border-radius: 20px;
    }
}
