h1, p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #ff2e63;
}

.stack-info {
    color:#ff2e63;
    font-weight: lighter;
}

.proj-link {
    color:#111d5e;
    text-decoration: underline;
    font-size: 24px;
}
